{% extends 'base.html' %}

{% block main %}

    <h1>Loan Applications
        {% if customer.rank.score >= 25 %}
            <span
                onclick="document.querySelector('dialog').showModal()"
                style="cursor: pointer;"
            >+</span>
        {% endif %}
    </h1>
    
    {% if 25 > customer.rank.score %}
        <p><b>You are not eligible to apply for a loan</b></p>
    {% endif %}

    <a href="javascript:history.back()">⬅️Back</a>


    <dialog>
        <header>Apply for a new loan</header>

        <form method="POST" actions="{% url 'banking:customer/loan_applications' customer.pk %}">
            {% csrf_token %}
            {{ loan_form.as_p }}
            <br>
            <menu>
                <button>Submit</button>
                <span style="cursor: pointer;" onclick="document.querySelector('dialog').close()">Cancel</span>
            </menu>
        </form>
    </dialog>
    
    <table>
        <thead>
            <tr>
                <th>Account ($)</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for loan_application in loan_applications %}
                <tr>
                    <td>{{ loan_application.account.name }}</td>
                    <td>{{ loan_application.amount }}</td>
                    <td>{{ loan_application.status }}</td>
                    <td>{{ loan_application.updated_at|date:'Y-m-d H:i'}}</td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>

{% endblock %}
