<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <title>Banking System</title>
</head>
<body>
    {% include 'snippets/nav.html' %}
    
    <h1>Create new account for {{ customer.user_id.first_name }} {{ customer.user_id.last_name }}</h1>

    <a href="{% url 'banking:employee/customer_pk' customer.pk %}">⬅️ Back</a>
    
    <form method="POST" actions="{% url 'banking:employee/customer/account' customer.pk %}">
        {% csrf_token %}
        {{ account_form }}
        <br>
        <button>Submit</button>
    </form>

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>
