{% extends 'base.html' %}

{% block main %}
    <br>
    <br>
    <a href="javascript:history.back()">__  Back</a>
    <br>
    <p>Customer: <b>{{ customer.last_name }}, {{ customer.first_name }}</b></p>
    
    <h2>Pending</h2>
    <table>
        <thead>
            <tr>
                <th>Amount ($)</th>
                <th>Debit Account</th>
                <th>Status</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for application in loan_applications %}
                {% if application.status == 'pending' or application.status == 'pre_approved' %}
                    <tr>
                        <td>{{ application.amount }}</td>
                        <td>{{ application.account }}</td>
                        <td class="status">{{ application.get_status_display }}</td>
                        
                        <td colspan="2">
                            <!-- If user is not superuser (but still staff) they can approve pending applications -->
                            {% if not request.user.is_superuser and application.status == 'pending' %}
                                <div style="display: flex">
                                    <form hx-patch="{% url 'banking:employee/loan_application' customer.pk application.pk %}" hx-target="body">
                                        <input type="hidden" name="status" value="pre_approved">
                                        <button type="submit" style="width: fit-content; text-wrap: nowrap; background-color: darkgreen;">Pre-Approve</button>
                                    </form>
                                    <form hx-patch="{% url 'banking:employee/loan_application' customer.pk application.pk %}" hx-target="body">
                                        <input type="hidden" name="status" value="denied">
                                        <button type="submit" style="background-color: darkred;">Deny</button>
                                    </form>
                                </div>
                            
                            <!-- If user is superuser they can approve/deny pre-approved applications -->
                            {% elif request.user.is_superuser and application.status == 'pre_approved' %}
                                <div style="display: flex">
                                    <form hx-patch="{% url 'banking:employee/loan_application' customer.pk application.pk %}" hx-target="body">
                                        <input type="hidden" name="status" value="approved">
                                        <button type="submit" style="background-color: darkgreen;">Approve</button>
                                    </form>
                                    <form hx-patch="{% url 'banking:employee/loan_application' customer.pk application.pk %}" hx-target="body">
                                        <input type="hidden" name="status" value="denied">
                                        <button type="submit" style="background-color: darkred;">Deny</button>
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}    
            {% endfor %}
        </tbody>

    </table>

    {% if accounts|length == 0 %}
        <p>This customer currently has no pending loan applications</p>
    {% endif %}

    <br>

    <h2>Approved/Denied</h2>
    <table>
        <thead>
            <tr>
                <th>Amount ($)</th>
                <th>Debit Account</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for application in loan_applications %}
                {% if application.status == 'approved' or application.status == 'denied' %}
                    <tr>
                        <td>{{ application.amount }}</td>
                        <td>{{ application.account }}</td>
                        <td class="status">{{ application.status }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

