{% extends 'base.html' %}

{% block main %}
    <br>
    <br>
    <a href="javascript:history.back()">__  Back</a>
    <br>
    <p>Customer: <b>{{ customer.last_name }}, {{ customer.first_name }}</b></p>
    
    <h2>Pending</h2>
    <table>
        <thead>
            <tr>
                <th>Amount ($)</th>
                <th>Debit Account</th>
                <th>Status</th>
                {% if request.user.username == 'admin' or username == 'supervisor' %}
                    <th colspan="2">Actions</th>
                {% endif %}
            </tr>
        </thead>
        {% if request.user.username == 'admin' %}
        <tbody>
            {% for application in loan_applications %}

                <tr>
                    <td>{{ application.amount }}</td>
                    <td>{{ application.account }}</td>
                    <td class="status">{{ application.status }}</td>

                    {% if application.status == 'pending' %}
                        {% if request.user.username == 'admin' %}
                            <td>
                                <form hx-patch="{% url 'banking:employee/loan_application' customer.pk application.pk %}" hx-target="body">
                                    <input type="hidden" name="status" value="approved_employee">
                                    <button type="submit">Approve (Admin)</button>
                                </form>
                            </td>
                        {% endif %}
                    {% endif %}
              {% endfor %}
        </tbody>
        {% endif %}


         {% if request.user.username == 'supervisor' %}
        <tbody>
            {% for application in loan_applications %}
                {% if application.status == 'approved_employee' %}

                <tr>
                    <td>{{ application.amount }}</td>
                    <td>{{ application.account }}</td>
                    <td class="status">{{ application.status }}</td>

                            <td>
                                <form hx-patch="{% url 'banking:employee/loan_application' customer.pk application.pk %}" hx-target="body">
                                    <input type="hidden" name="status" value="approved">
                                    <button type="submit">Approve (Supervisor)</button>
                                </form>
                            </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        {% endif %}

    </table>

    {% if accounts|length == 0 %}
        <p>This customer currently has no pending loan applications</p>
    {% endif %}

    <br>

    <h2>Approved/Denied</h2>
    <table>
        <thead>
            <tr>
                <th>Amount ($)</th>
                <th>Debit Account</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for application in loan_applications %}
                {% if application.status != 'pending' %}
                    <tr>
                        <td>{{ application.amount }}</td>
                        <td>{{ application.account }}</td>
                        <td class="status">{{ application.status }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

