<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Banking System</title>
</head>
<body>
    <nav>
        <a href="{% url 'banking:index' %}">Home</a>
        |
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a   href="{% url 'banking:employee' %}">Employee Dashboard</a>
            {% else %}
                <a   href="{% url 'banking:customer' %}">Customer Dashboard</a>
            {% endif %}
            |
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>