<nav>
    <a href="{% url 'banking:index' %}">Home</a>
    |
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <a   href="{% url 'banking:employee' %}">Employee Dashboard</a>
        {% else %}
            <a   href="{% url 'banking:customer' %}">Customer Dashboard</a>
        {% endif %}
        |
        <a 
            hx-post="{% url 'logout' %}" 
            hx-target="body"
            style="cursor: pointer;"
        >Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</nav>